<!DOCTYPE html>
<html lang="ru">
<head>
	{% include './parts/head.njk' %}
</head>
<body>
	<div class="container page">

		<div class="left-side">
		<div class="logo"><img src="img/@2x/logo.svg" alt=""></div>
		<div class="rotate-title"><span>Dagnet</span><span>internet service provider</span></div>
		<div class="squares">
			<div class="squares-green">
			</div>
			<div class="squares-dark-green"></div>
			<div class="squares-blue"></div>
		</div>
	</div>

	<div class="main-wrapper">
		<div class="menu">
			<div class="menu-header">
				<div class="menu-close"><img src="img/@2x/white-arrow-light.svg" alt=""></div>
				<div class="menu-title">Весь сайт</div>
			</div>
			<div class="menu-inner menu-inner-hide">
				<div class="menu-body">
					<ul class="menu-body__top">
						<li><a href="#">О компании</a></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#">Вакансии</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Инструкции</a></li>
						<li><a href="#">Документы</a></li>
						<li><a href="#">Тарифы</a></li>
					</ul>
					<ul class="menu-body__bottom">
						<li><a href="#">Личный кабинет</a></li>
						<li><a href="#">Подключиться</a></li>
						<li><a href="#">Техподдержка</a></li>
						<li><a href="#">База данных</a></li>
						<li><a href="#">+7 (928) 506-67-00</a></li>
						<li><a href="#">Задать вопрос</a></li>
					</ul>
					<div class="menu-footer">
						<div class="social-vk">
							<i class="fab fa-vk"></i>
							<span>Нравиться</span>
							<span>1</span>
						</div>
					</div>
			</div>
				</div>
				
			</div>
		<div class="main">
		<div class="main-bg"><img src="img/@2x/women.png" alt=""></div>
		<div class="main-header">
			<div class="hamburger">
				<div class="hamburger-inner"></div>
			</div>
			
			<ul class="nav">
				<li>О компании</li>
				<li>Техподдержка</li>
				<li>Подключиться</li>
			</ul>
		</div>
		<div class="main-body">
			<div class="main-title">
				<span>Безлимитный интернет</span>
				<span>DN-650 за 500 руб/мес</span>
				<span>Скорость входящего/исходящего канала, Кбит/с  
				днем 14000, ночью 20000 </span>
				<div class="connect">Подключиться <div class="arrow"><img src="img/@2x/white-arrow.svg" alt=""></div></div> 
			</div>
		</div>
	</div>
	</div>

	<div class="right-side">
		<div class="right-side__slider owl-carousel owl-theme">

			<div class="item">
				<div class="block-wrapper">
					<div class="block block-hover"><img src="img/@2x/room.jpg" alt=""></div>
					<div class="block blue"></div>
				</div>
				<div class="block-large beige">
					<div class="block-large-inner"></div>
				</div>
			</div>

			<div class="item">
				<div class="block-wrapper">
					<div class="block gold"></div>
					<div class="block light-green"></div>
					<div class="block light-green"></div>
					<div class="block dark-green"></div>
				</div>
			</div>

		</div>

		<div class="right-side__footer">
			<div class="right-side__footer-top">           
				<div class="tel footer-top-el"><img src="img/@2x/tel-icon.svg" alt=""> <span>+7 (928) 506-67-00</span></div>
				<div class="ques footer-top-el"><img src="img/@2x/ques-icon.svg" alt=""> <span>Задать вопрос</span></div>
				<div class="cabinet footer-top-el"><img src="img/@2x/cabinet-icon.svg" alt=""> <span>Личный кабинет</span></div>
				<div class="search footer-top-el"><img src="img/@2x/search-icon.svg" alt=""> <span>Поиск</span></div>
			</div>
			<div class="right-side__footer-bottom">
				<span>©</span> 2016 Дагестанские компьютерные сети  «ДагНет»
			</div>
		</div>
	</div>

	</div>

	<script src="js/scripts.min.js"></script>
  <script src="js/common.js"></script>
</body>
</html>
